{
	"MsPerRead": 5000,
	"DataDirectory": "",
	"MmrFilePath": "mmr.txt",
	"RegionId": "US",
	"ProfileId": 1986271,
	"LadderId": 274006,
	"ClientId": "GetThisFromTheBlizzardDeveloperApiSite",
	"ClientSecret": "GetThisFromTheBlizzardDeveloperApiSite"
}
